services:
  app:
    build: .
    ports:
      - "5670:5670"
    environment:
      PORT: 5670
      ALLOW_INSECURE_HTTP: ${ALLOW_INSECURE_HTTP:-}
      TRUST_PROXY: ${TRUST_PROXY:-}
      MAX_PARTICIPANTS: ${MAX_PARTICIPANTS:-10}
      WS_MAX_PAYLOAD: ${WS_MAX_PAYLOAD:-1048576}
